:root {
  --black-color: #000000;
  --white-color: #ffffff;
  --card-name-color: #3764e4;
  --text-back-link-color: #002FFF;
  --save-button-color: #002FFF;
  --save-button-hover-color: #3333cc;
  --text-back-linkhover-color: #375BFE;
  --text-title-shoes-color: #3764E4;
  
  // Product Colors
  --Black: #000000;
  --Blue: #000080;
  --Red: #c50137;
}

@font-face {
  font-family: "Roboto";
  src: url("/src/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
