:root {
  --black-color: #000000;
  --white-color: #ffffff;
  --card-name-color: #3764e4;
}

@font-face {
  font-family: "Roboto";
  src: url("/src/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
