:root {
  --black-color: #000000;
  --white-color: #ffffff;
  --card-name-color: #3764e4;
  --DaySelect-color: #ec6060;
  --DaySelect-Hover-color: #eee4e4;
  --Today-button-color: #002FFF;
  --Today-color: #4766f1;
  --DayofWeek-color: #ec6060;
  --DaySelect-text: #ffffff;
  --MonthSelect-color: #ec6060;
  --MonthSelect-hover-color: #eee4e4;
  --NotCurrentMonth-color: #969696;
  --CurrentMonth-color: #4766f1;
  --text-back-link-color: #002FFF;
  --save-button-color: #002FFF;
  --save-button-hover-color: #3333cc;
  --shopping-button-color: #002FFF;
  --shopping-button-hover-color: #375BFE;
  --text-back-linkhover-color: #375BFE;
  --text-title-shoes-color: #3764E4;
  --text-userLogin-color: #B72121;
  
  // Product Colors
  --Black: #000000;
  --Beige: #cfb997;
  --Brown: #5C4033;
  --Blue: #000080;
  --Burgundy: #800020;
  --Cream: #fffdd0;
  --Cyan: #3E7BB7;
  --DarkBrown: #281F22;
  --DullBlue: #3D4E68;
  --DarkGreen: #3D5764;
  --Grey: #808080;
  --Green: #8A9A5B;
  --Linen: #faf0e6;
  --LightBrown: #946C3E;
  --LightBlue: #add8e6;
  --LightGreen: #adff2f;
  --LightPurple: #CBC3E3;
  --Orange: #ffa500;
  --Pink: #ffc0cb;
  --Purple: #6f168d;
  --Red: #c50137;
  --Silver: #c0c0c0;
  --White: #ffffff;
  --Yellow: #FDDA0D;
}

@font-face {
  font-family: "Roboto";
  src: url("/src/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
