@use "./variables";
// @import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300;400;500;600;700&display=swap');
@font-face {
  font-family: 'Mitr';
  src: url('@/assets/fonts/Mitr-Regular.ttf') format('truetype'),
       url('@/assets/fonts/Mitr-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  overflow-y: scroll;
  scrollbar-width: initial;
}

body {
  margin: 0;
  padding: 0;
  padding-top: 60px;
  font-family: 'Mitr', sans-serif;
  font-weight: 400; // ตั้งค่า font-weight default
}

a {
  cursor: pointer;
}
